/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    /* wgen you will click on navbar you will be directed SMOOTHLY to that section */
}

/* CSS variables */
/* :root{} */
/* here we will not use but i further pojects we will use it*/

/*****************************************************************************/

/* Navigation bar */
#navbar {
    /* below two lines are so important to stick navbar */
    /* 1. top: 0px is to firstly fix the top of navbar*/
    /* 2. position:sticky; is to fix position on top */
    top: 0px;
    position: sticky;
    display: flex;
    align-items: center;
}

/* adding backgound in navbar */
#navbar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    /* to move the background on webpage */
    background-color: rgb(0, 0, 0);
    z-index: -1;
    opacity: 0.7;
}

/* Navigation bar : logo and image */
#logo img {
    height: 80px;
    width: 80px;
    margin: 10px 70px;

}

/* Navigation bar : list styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    /* bullet points will be removed*/
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
}

#navbar ul li a {
    /* we re giving padding here bcs if we give padding in #navbar ul li{} then if anyone hover over li ten also it will gain hover property but I want hove property ony if anyone hover over the name i.e.<a></a> */
    color: rgb(128, 211, 244);
    display: block;
    /* because we have to add padding*/
    padding: 20px 40px;
    margin: 10px 40px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(85, 249, 53);
    background-color: rgb(24, 25, 24);
    border-radius: 30px;
}

/**********************************************************************************/

#home {
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    height: 327px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    height: 61%;
    width: 100%;
    position: absolute;
    /* to move the background on webpage */
    /* intially we get zoomed image hence we use = no-repeat center center/cover = */
    background: url('../img/homebg.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
}

/* now I want some extra properties other than utility class for h1-primary of home  */
#home .h-primary {
    color: black;
    text-align: center;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/*****************************************************************************/

/* SERVICES SECTION */
#services {
    display: flex;
    /* margin: 0px; */
}

#services .box {
    margin: 10px;
    padding-bottom: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(74, 247, 152);
}

#services .box img {
    height: 200px;
    display: block;
    /* to use margin:auto; display must be block */
    margin: auto;
    /* to center our logo in the box */
}

/*****************************************************************************/
#buttons{
    display: flex;
    flex-direction: row;
}
/* Clients Section */
#client-section {
    margin: 20px 20px;
    height: 430px;
    border: 3px solid black;
    background-color: rgb(212, 248, 241);
}

/* #client-section::before{
    content: "";
    position: absolute;
    background: url('clients2.png');
    z-index: -1;
    width: 100%;
    height: 100%;
} */
.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#client-item {
    margin: 0px 40px;
}

#client-item img {
    height: 200px;
}

/*****************************************************************************/
/* CONTACT SECTION */
#contact {
    color: rgb(255, 255, 255);
    position: relative;
    border: 2px solid rgb(0, 110, 255);
    margin: 20px 20px;
}

#contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../img/contact.png') no-repeat repeat center center/cover;
    /* in above line it is compulsoy to wite  */
    z-index: -1;
}

.contact-box {
    display: flex;
    justify-content: right;
    padding: 20px;
    align-items: center;
    padding-bottom: 35px;
    color: white;
    font-family: 'Source Serif Pro', serif;
}

.contact-box input,
.contact-box textarea {
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    display: block;
    width: 400px;
    border: 3px solid rgb(152, 149, 242);
    border-radius: 20px;
    background-color: rgb(0, 7, 0);
    padding: 1px;
    margin: 3px;
}

/*****************************************************************************/

/* UTILITY CLASS */
/* we can use these propertis for all h-primary contents */
.h-primary {
    font-family: 'Source Serif Pro', serif;
    font-size: 2.3rem;
    padding: 10px;
}

.h-secondary {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 10px;
}

#btn {
    color: white;
    padding: 2px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Source Serif Pro', serif;
    cursor: pointer;
}

#btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(28, 230, 52);
}

.center {
    text-align: center;
}