/* NOTE : when you will inspect -> responsive -> change sizing of screen 
          then never zoom out the responsive screen , run it in given zoomed format*/

/* NAVBAR */
#navbar {
    width: 100%;
    flex-direction: column;
}

#navbar::before {
    width: 100%;
}

#navbar ul li a {
    font-size: 10px;
    padding: 5px 5px;
}

#home {
    height: 200px;
}

#home::before {
    height: 245px;
}

#home h1 {
    width: 300%;
    font-size: 15px;
}

#home p {
    width: 300%;
    font-size: 10px;
}

#services {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-direction: row;
}

/* IMP part */
#services .box {
    width: 32%;
}

#services .box img {
    width: 100%;
}

#client-section {
    height: 100%;
}

.clients {
    /* flex-direction: column; */
    /* it will put all div's one below another */
    flex-wrap: wrap;
    /* it will work regarding space */
}

#contact {
    width: 95%;
}

.contact-box {
    justify-content: center;
    margin-left: 40px;
}

.contact-box input,
.contact-box textarea {
    width: 300px;
}