/* NOTE : when you will inspect -> responsive -> change sizing of screen 
          then never zoom out the responsive screen , run it in given zoomed format*/

/* NAVBAR */
#navbar {
    width: 100%;
}

#navbar::before {
    top: 0px;
}

#navbar ul li a {
    font-size: 30px;
    padding: 15px 120px;
}

#home {
    height: 300px;
}

#home::before {
    top: 100px;
    width: 100%;
    height: 110%;
}

#home h1 {
    width: 300%;
    font-size: 60px;
}

#home p {
    width: 300%;
    font-size: 40px;
}

#services {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-direction: row;

}

/* IMP part */
#services .box {
    margin: 70px;
    width: 32%;
    height: 450px;
    font-size: 20px;
}

#services-container h1 {
    font-size: 50px;
}

#services .box img {
    width: 50%;
    height: 70%;
}

#client-section {
    height: 100%;
}

#client-item {
    padding: 0px 90px;
}

.clients {
    /* flex-direction: column; */
    /* it will put all div's one below another */

    flex-wrap: wrap;
    /* it will work regarding space */
}

#contact {
    width: 98%;
}

.contact-box {
    justify-content: center;
    margin-left: 1200px;
}

.contact-box input,
.contact-box textarea {
    width: 500px;
}